@import url( '../bower_components/normalize-css/normalize.css'); // Fonts
@font-face {
    font-family: 'Montserrat Bold';
    src: url('/fonts/Montserrat/Montserrat-Bold.ttf');
}
@font-face {
    font-family: 'Montserrat Regular';
    src: url('/fonts/Montserrat/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'Montserrat Black';
    src: url('/fonts/Montserrat/montserrat-black.ttf');
}
@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/Open_Sans/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'Open Sans Bolt';
  src: url('/fonts/Open_Sans/OpenSans-Bold.ttf');
}
// GlobalVariables
@topMenuColorBg: #191919;
/*black*/
@topMenuColorElements: #707070;
@text-black: #212121;
/*grey*/
@body-bg: #f5f5f5;
@grey-lines-color: #dfdfdf;
/*white*/
@nav-letters-color: #fff;
/*rose*/
@nav-rose: #ff4081;
@button-color: #303f9f;
@MainFontRegular: 'Montserrat Regular';
@MainFontBolt: 'Montserrat Bold';
@MainFontBlog: 'Open Sans';
@MainFontBlogBolt: 'Open Sans';
@MainFontBig: 'Montserrat Black';

body {
    background-color: @body-bg;
}

div#header {
    background: @topMenuColorBg;
    display: block;
    min-height: 40px;

    div.container {
        box-sizing: border-box;

        div.social-icons {
            margin-top: 5px;
            display: inline-block;

            ul {
                padding: 0;
                list-style: none;

                li {
                    display: inline-block;

                    &:hover {
                        -webkit-filter: brightness(50%);
                        -ms-filter: brightness(50%);
                        filter: brightness(50%);
                    }
                }
            }
        };

        div.authorization {
            display: inline-block;

            div.sign-in {
                a {
                    margin-top: 5px;
                    font-family: @MainFontRegular;
                    font-size: 16px;
                    color: @topMenuColorElements;
                    text-transform: uppercase;
                    text-decoration: none;
                    display: inline-block;
                    border-right: 1px @topMenuColorElements solid;
                    padding-right: 15px;

                    &:hover {
                        -webkit-filter: brightness(50%);
                        -ms-filter: brightness(50%);
                        filter: brightness(50%);
                    }
                }
            }

            div.language {
                div.btn-group {
                    margin-left: 15px;
                    padding-top: 5px;
                    font-family: @MainFontRegular;
                    font-size: 16px;
                    color: @topMenuColorElements;

                    span {
                        margin-left: 5px;
                    }

                    span.glyphicon {
                        margin-top: 3px;

                        &:hover {
                            cursor: pointer;
                            -webkit-filter: brightness(50%);
                            -ms-filter: brightness(50%);
                            filter: brightness(50%);
                        }
                    }
                }

                ul.dropdown-menu-right {
                    background-color: @topMenuColorBg;

                    li {
                        a {
                            color: @topMenuColorElements;
                        }
                    }
                }
            }
        }
    }
}

.main-navigate {
    position: absolute;
    z-index: 10;
    width: 100%;
}

#logo {
    padding-top: 25px;
    padding-left: 0;
    padding-right: 100px;
}

li.dropdown {
    font-family: @MainFontBolt;
    text-transform: uppercase;
    font-size: 14px;

    &:hover {
        border-bottom-style: solid;
        border-bottom-color: @nav-rose;
        border-bottom-width: 4px;
    }

    a {
        padding-left: 0;
        color: @nav-letters-color;

        &:hover {
            background-color: transparent;
        }

        &.active {
            background-color: transparent;
        }
    }

    ul.dropdown-menu {
        border: none;
        color: @nav-letters-color;
        background-color: transparent;
        box-shadow: none;
        text-align: left;
    }

    a.dropdown-toggle {
        padding-right: 0;
    }
}

button.navbar-toggle.collapsed {
    background-color: (@topMenuColorElements);
}

#navigator {
    .dropdown {
        .dropdown-toggle {
            &:active,
            &:focus,
            &:hover,
            &:visited {
                background-color: transparent;
            }
        }
    }
    padding-top: 13px;

    li.dropdown.open {
        a {
            background-color: transparent;
        }
    }
}

span.glyphicon.glyphicon-menu-down {
    color: @nav-letters-color;
    padding-left: 10px;
    margin-right: 25px;
    padding-right: 0;
}

ul.right-nav {
    padding-top: 25px;

    a {
        padding: 0 12px;
        border-right: 1px solid @topMenuColorElements;
        margin-bottom: 15px;

        &:active,
        &:focus,
        &:hover,
        &:visited {
            background: none;
        }
    }

    & li:last-child {
        a {
            border-right: none;
        }
    }

    li {
        background: transparent;
    }
}

.container-fluid {
    padding: 0;
}

.carousel-inner {
    .item {
        img {
            width: 100%;
        }
    }
}

div#carousel-example-generic {
    a.carousel-control {
        span.glyphicon {
            position: absolute;
            top: 50%;
        }

        span.glyphicon.glyphicon-menu-left {
            left: 40px;
        }

        span.glyphicon.glyphicon-menu-right {
            right: 40px;
        }
    }
}

div.carousel-caption {
    padding-bottom: 65px;
    padding-top: 0;
    bottom: 0;

    h4 {
        margin: 0 auto;
        font-family: @MainFontRegular;
        font-size: 28px;
        color: @topMenuColorElements;
        text-transform: uppercase;
    }

    h2 {
        margin: 28px auto 0;
        font-family: @MainFontBig;
        font-size: 42px;
        text-transform: uppercase;
        color: @nav-letters-color;
    }

    button {
        margin-top: 40px;
        background-color: @button-color;
        border: none;
        border-radius: 22px;
        font-family: @MainFontRegular;
        font-size: 24px;
        font-variant: small-caps;
        width: 170px;
        height: 45px;
        box-shadow: 0 17px 24px 0 rgba(48, 63, 159, 0.2);
    }

    img.img-circle {
        width: 50px;
        display: block;
        margin: 79px auto 18px;
        text-align: center;
    }

    h5 {
        font-family: @MainFontBolt;
        font-size: 14px;
        color: @nav-letters-color;
    }

    p {
        font-family: @MainFontRegular;
        font-size: 12px;
        color: @topMenuColorElements;
        display: inline-block;
    }

    p.caption-date {
        display: block;
        margin-bottom: 35px;
    }

    .comments {
        margin-right: 40px;
    }

    .comments,
    .likes {
        display: inline-block;

        img {
            width: 14px;
            display: inline-block;
        }
    }
}

span.icon-bar {
    background: @topMenuColorBg;
}

button.navbar-toggle {
    background: @nav-rose;
}
// blog
div.panel-body {
    padding: 0;
}

div.media-body {
    p.caption-date {
        font-family: @MainFontRegular;
        font-size: 12px;
        color: @topMenuColorElements;
        text-align: left;
    }

    h4.media-heading {
        padding-top: 8px;
        font-family: @MainFontRegular;
        font-size: 14px;
        color: @text-black;
        text-align: left;
    }
}

.panel-default {
    max-width: 820px;
}

ul.list-group {
    li.down-item {
        div.media-right {
            position: relative;

            div.three-point {
                vertical-align: middle;
                position: absolute;
                top: 36%;
                right: 0;

                a {
                    color: @text-black;
                }
            }
        }
    }

    li.list-group-item {
        h4 {
            font-family: @MainFontBolt;
            font-size: 18px;
            color: @text-black;
        }

        p {
            font-family: @MainFontBlog;
            font-size: 16px;
            color: @text-black;
        }
    }
}
// blog navigation

div.sort-blog {
    background-color: @nav-letters-color;
    padding-top: 17px;
    padding-bottom: 17px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 30px;

    h5 {
        display: inline-block;
        font-family: @MainFontBolt;
        font-size: 16px;
        color: @topMenuColorElements;
        font-variant: small-caps;
        margin-right: 30px;
    }

    .pager {
        margin-top: 0;
        margin-bottom: 0;
        display: inline-block;

        a {
            margin-right: 15px;
            padding-left: 26px;
            padding-right: 26px;
            font-size: 16px;
            font-family: @MainFontRegular;
            color: @topMenuColorElements;
            font-variant: small-caps;
            background-color: @body-bg;
            border: none;

            &.active {
                color: @button-color;
                border: 1px solid @button-color;
                background-color: @nav-letters-color;
            }
        }
    }
}

.small-post {
    .media-object.pull-left {
        display: inline-block;
        padding: 0;
        width: 260px;
        margin-right: 14px;
    }

    .panel-heading {
        background-color: transparent;

        p {
            font-family: @MainFontBlog;
            color: @text-black;
            font-size: 14px;
        }

        h3 {
            font-family: @MainFontBolt;
            color: @text-black;
            font-size: 16px;
            padding-bottom: 5px;
            text-transform: capitalize;
        }
    }

    .panel-body {
        display: block;
        padding: 5px 5px 0;

        .media-right {
            position: relative;

            div.three-point {
                vertical-align: middle;
                position: absolute;
                top: 36%;
                right: 0;

                a {
                    color: @text-black;
                }
            }
        }
    }
}
//thumbnails-3
.thumbnail-smaller {
    box-sizing: border-box;
    max-width: 278px;
    padding-right: 0;

    .thumbnail {
        position: relative;
        box-sizing: border-box;
        padding: 0;
        height: 420px;

        iframe {
            width: 260px;
            height: 162px;
        }

        .caption {
            padding-bottom: 0;
            margin-bottom: 0;
            height: 170px;

            h3 {
                font-family: @MainFontBolt;
                font-size: 14px;
                color: @text-black;
                margin-top: 0;
                text-transform: capitalize;
            }

            p {
                overflow: hidden;
                text-overflow: ellipsis;
                max-height: 125px;
                font-family: @MainFontBlog;
                font-size: 14px;
                color: @text-black;
                margin-bottom: 5px;
                padding-bottom: 0;
            }
        }
    }
}

.media.thumbnail-author {
    border-top: 1px solid @grey-lines-color;
    padding-top: 15px;
    position: absolute;
    bottom: 0;

    .media-right {
        vertical-align: middle;
        padding-right: 15px;

        span {
            color: @text-black;
        }
    }
}

.media-object {
    &.img-circle-left {
        width: 50px;
        height: 50px;
        display: inline-block;
    }
}

.thumbnail-author {
    .media-left {
        a {
            display: block;
            width: 50px;
            margin-left: 15px;
        }
    }
}
//bigger thumbnail

.col-md-4.thumbnail-bigger {
    width: 418px;
    padding-right: 0;
}

.list-group-item.list-group-item-photo {
    padding: 0;

    img {
        width: 100%;
    }
}

li.thumbnail-bigger-caption {
    h2 {
        font-family: @MainFontBolt;
        font-size: 18px;
        color: @text-black;
        margin-top: 0;
        text-transform: capitalize;

        a.active {
            color: @button-color;
            text-decoration: none;
        }
    }

    p {
        max-height: 90px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: @MainFontBlog;
        font-size: 16px;
        color: @text-black;
    }
}

li.list-group-item.thumbnail-bigger-down {
    div.media-body {
        h4.media-heading {
            font-family: @MainFontRegular;
            font-size: 14px;
            color: @text-black;
            text-transform: capitalize;
        }

        p.caption-date {
            font-family: @MainFontRegular;
            font-size: 12px;
            color: @topMenuColorElements;
        }
    }

    div.media-right {
        vertical-align: middle;

        a {
            color: @text-black;
        }
    }
}
//footer navigation

div.col-md-8.footer-button {
    padding-right: 0;
    width: 820px;

    .pager {
        margin: 0 auto;
        height: 130px;
        padding-top: 20px;

        .next {
            // buttob right arrow
            a {
                position: relative;
                width: 42px;
                height: 42px;
                vertical-align: middle;
                border-radius: 50px;

                span.glyphicon-arrow-right {
                    position: absolute;
                    top: 12px;
                    right: 11px;
                }

                span.footer-button-more {
                    font-family: @MainFontRegular;
                    font-size: 16px;
                    position: absolute;
                    color: @button-color;
                    left: -50px;
                    top: 10px;
                }
            }
        }
    }
}
//gallery

div#gallery {
    .container-fluid {
        height: 240px;
        padding: 0;
        margin: 0 auto;
        overflow-x: auto;
        overflow-y: hidden;
        font-size: 0; //clear space beetwen images
        white-space:nowrap;
        a {
            img {
                // display: inline-block;
                // float: left;
                width: 240px;
                height: 240px;
            }
        }
    }
}
//hover on images in gallery
.hover11 a img {
    opacity: 1;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.hover11 a:hover img {
    opacity: 0.5;
}
//subscribe

div#subscribe {
  div.container-fluid {
    padding-bottom: 80px;
    // height: 200px;
    background: url('/img/footer_img/search-bg.png');
    background-size: cover;
    background-color: @text-black;
    .form-inline {
      .form-group {

      }
    }
  }
}
#label-search-down {
  font-family: @MainFontBig;
  font-size: 42px;
  color: @nav-letters-color;
  margin-bottom: 0;
  padding-top: 0;
  margin-top: 62px;
  vertical-align: bottom;
}

input#exampleInputEmail2 {
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 22px;
  background-color: rgb(48, 48, 48);
  opacity: 0.38;
  width: 268px;
  height: 43px;
  text-transform: capitalize;
  margin-left: 25px;
}

button#search-down-btn {
  color: @nav-letters-color;
  background-color: @button-color;
  border: none;
  border-radius: 22px;
  font-family: @MainFontRegular;
  font-size: 24px;
  font-variant: small-caps;
  width: 170px;
  height: 45px;
  box-shadow: 0 17px 24px 0 rgba(48, 63, 159, 0.2);
  margin-left: 25px;
  margin-top: 80px;
}
//footer-up
#footer-up {
  .container-fluid {
    background-color: @text-black;
  }
  h3.footer-up-head {
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: @MainFontBolt;
    font-size: 18px;
    color: @nav-letters-color;
    text-transform: uppercase;
  }

}

//footer first left menu

#accordion {
  .panel {
    border-radius: 6px;
    border: 2px solid;
    box-shadow: none;
    border-color: @topMenuColorElements;
  }
  .panel-default {
    .panel-heading {
        padding: 0;
        border-radius: 0;
        color: #212121;
        background-color: #FAFAFA;
        border-color: #EEEEEE;
    }
  }
  .panel {
    a, .list-group-item {
      background-color: @text-black;
    }
  .list-group {
    border-top: 0;
  }
  }
  .list-group-item {
    border: none;
    a {
      font-family: @MainFontBlog;
      font-size: 14px;
      color: @topMenuColorElements;
      text-transform: capitalize;
      text-decoration: none;
      &:hover {
        color:@nav-letters-color;
      }
    }

  }
}
#headingOne, #headingTwo, #headingThree, #headingFour, #headingFive {
  .panel-title {
    font-size: 14px;
    a {
        display: block;
        padding: 15px;
        text-decoration: none;
        font-family: @MainFontBlogBolt;
        color: lighten(@topMenuColorElements, 20%);
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 6px;
        border: none;
    }
  }
}
.more-less {
    float: right;
    color: @topMenuColorElements;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
}
//social messages

div.media.twitter-messages {
  padding-bottom: 14px;
  border-bottom: 1px solid @topMenuColorElements;
  div.media-body {
    h4.media-heading {
      a {
        font-family: @MainFontBlog;
        font-size: 13px;
        color: lighten(@topMenuColorElements, 20%);
        padding-top: 0;
      }

    }
  }
  ul.twitter-messages-down {
    padding-left: 0;
    margin-bottom: 0;

    li {
      display: inline-block;
      float: left;
      padding-right: 5px;
      list-style: none;
      font-family: @MainFontBlog;
      font-size: 12px;
      color: @topMenuColorElements;
      p {
        margin-bottom: 0;
      }
      a {
        text-decoration: underline;
        color:  @topMenuColorElements;
      }
    }
  }
}

//for mobile devices
@media (max-width: 768px) {
    #navigator {
        padding-top: 1px;
    }

    #logo {
        padding-top: 17px;
    }

    .main-navigate {
        position: static;
        background: @topMenuColorBg;
        color: @topMenuColorElements;
        margin-bottom: 0;
    }

    li.dropdown.open > a.dropdown-toggle {
        background: lighten((@topMenuColorBg),30%);
    }

    li.dropdown > a.dropdown-toggle {
        padding-left: 15px;
    }

    .navbar-brand {
        margin-left: 15px;
    }

    .right-nav {
        li > a {
            &:hover {
                background: lighten((@topMenuColorBg),30%);
            }
            margin-bottom: 0;
            padding-top: 7.5px;
            padding-bottom: 7.5px;
            padding-left: 15px;
        }
    }

    ul.right-nav {
        padding-top: 0;
    }

    div#header div.container div.social-icons {
        display: block;
    }

    div#header div.container div.authorization {
        display: inline-block;
        float: left !important;
    }

    div.carousel-caption {
        h4 {
            font-size: 14px;
        }

        h2 {
            font-size: 21px;
        }
    }

    div.footer-button {
        .pager {
            .next {
                a {
                    float: left;
                    left: 35px;
                }
            }
        }
    }
}
@media (max-width: 996px) {
    div.carousel-caption {
        .comments,
        .likes,
        h5,
        img.img-circle,
        p.caption-date {
            display: none;
        }

        h4 {
            font-size: 14px;
        }

        h2 {
            font-size: 22px;
        }
    }
}
@media (min-width: 768px) {
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: 0;
    }
}
